<template>
  <div class="messages">
    <div v-for="message in messages" :class="messageClasses(message)">
      <h3 v-if="message.name">{{message.name}}<font-awesome-icon v-if="messageIcon(message)" :icon="messageIcon(message)" class="icon" /></h3>
      <ShowObject :object="message.data" class="object" />
    </div>
  </div>
</template>

<script>
  import ShowObject from './ShowObject';

  export default {
    components: {
      ShowObject,
    },

    props: {
      messages: {
        type: Array,
        required: true,
      },
    },

    methods: {
      messageClasses(message) {
        const classes = ['message'];
        if (message.error) {
          classes.push('error');
        }
        else if (message.success) {
          classes.push('success');
        }
        else if (message.request) {
          classes.push('request');
        }
        else if (message.response) {
          classes.push('response');
        }
        return classes;
      },

      messageIcon(message) {
        if (message.request) {
          return 'arrow-up';
        }
        else if (message.response) {
          return 'arrow-down';
        }
        else {
          return null
        }
      }
    }
  };
</script>

<style>
  .messages {
    padding: 30px 0;
    border-top: rgb(221, 221, 221) solid 1px;
    border-bottom: rgb(221, 221, 221) solid 1px;
  }

  .messages:first-child {
    padding-top: 0;
    border-top: none;
  }

  .messages:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  .message {
    padding: 10px;
    margin: 30px 0;
  }

  .message.response {
    margin: 10px 0;
  }

  .message.request + .message.response {
    margin-top: -20px;
  }

  .message:first-child {
    margin-top: 0;
  }

  .message:last-child {
    margin-bottom: 0;
  }

  .request {
    background-color: rgba(0, 0, 150, 0.1);
  }

  .response {
    background-color: rgba(0, 0, 250, 0.1);
  }

  .error {
    background-color: rgba(255, 0, 0, 0.1);
  }

  .success {
    background-color: rgba(0, 255, 0, 0.1);
  }

  .message h3 {
    background-color: rgb(221, 221, 221);
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .icon {
    float: right;
  }

  .object {
    font-family: monospace;
  }
</style>
