<template>
  <div v-if="object instanceof Error" class="error-value">
    {{object.toString()}}
  </div>
  <span v-else-if="object instanceof Date" class="date-value">
    {{object.toISOString()}}
  </span>
  <span v-else-if="Array.isArray(object) && !object.length" class="empty-list-value">[]</span>
  <ul v-else-if="Array.isArray(object)" class="list-value">
    <li v-for="value in object">
      <div v-if="typeof value === 'object' && value !== null">
        <ShowObject :object="value" />
      </div>
      <div v-else class="simple-value">
        {{value}}
      </div>
    </li>
  </ul>
  <span v-else-if="!Object.keys(object).length" class="empty-object-value">{}</span>
  <ul v-else class="object-value">
    <li v-for="(value, key) in object">
      <div v-if="typeof value === 'object' && value !== null">
        <span class="key">{{key}}:</span> <ShowObject :object="value" />
      </div>
      <div v-else class="simple-value">
        <span class="key">{{key}}:</span> {{value}}
      </div>
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'ShowObject',

    props: {
      object: {
        required: true,
      },
    },

    created() {
      this.Error = Error;
    },
  };
</script>

<style>
  ul {
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0;
  }

  li {
    margin-left: 10px;
  }

  ul.list-value > li > :not(.simple-value) {
    margin-bottom: 10px;
  }

  ul.list-value > li:last-child > :not(.simple-value) {
    margin-bottom: 0;
  }
</style>
